<!doctype html>
<html>
<head>
    <title>FindR</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
</head>
<body>
    <script src="../static/locations.js"></script>
    <h1>FIND</h1>
    <div class="btn-group-vertical" role="group" aria-label="...">
        <div class="btn-group" role="group" aria-label="...">
            <form action="/map">
                <button type="submit" onclick="findLocations()" class="btn btn-primary btn-lg">Bathroom</button>
                <button type="submit" onclick="findLocations()" class="btn btn-primary btn-lg">Water</button>
                <button type="submit" onclick="findLocations()" class="btn btn-primary btn-lg">Bike Racks</button>
                <button type="submit" onclick="findLocations()" class="btn btn-primary btn-lg">Bus Stops</button>
            </form>
        </div>
    </div>

    <h1>NEW LOCATION</h1>
    <div class="btn-group-vertical" role="group" aria-label="...">
        <div class="btn-group" role="group" aria-label="...">
            <form action="/new-location">
                <button type="submit" onclick="newLocation()" class="btn btn-primary btn-lg">Bathroom</button>
                <button type="submit" onclick="newLocation()" class="btn btn-primary btn-lg">Water</button>
                <button type="submit" onclick="newLocation()" class="btn btn-primary btn-lg">Bike Racks</button>
                <button type="submit" onclick="newLocation()" class="btn btn-primary btn-lg">Bus Stops</button>
            </form>
        </div>
    </div>
    <script src="../static/jquery-1.11.3.js"></script>
    <script src="../static/bootstrap.min.js"></script>
</body>
</html>
