<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
    <script src="../static/locations.js"></script>
  </head>
  <body onload="getLocation()">

    <div id="map"></div>






    <script type="text/javascript">
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(initMap);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}



var map;
function initMap(position) {
  var latitude = position.coords.latitude;
  console.log(position)
  var longitude = position.coords.longitude;
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: latitude, lng: longitude},
    zoom: 18
  });

  var marker1 = new google.maps.Marker({
    position: {lat: latitude, lng: longitude},
    map: map,
    title: 'Hello World!'
  });

  var marker2 = new google.maps.Marker({
    position: {lat: (latitude + .1), lng: longitude},
    map: map,
    title: 'Hello World!'
  });
}
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2c1j6Fu60pvqyZmQWuosgOdYbq8lBDXc&callback=initMap">
    </script>





<button onclick="getLocation()">Try It</button>

<p id="demo"></p>


</body>
</html>
