<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
            html, body { height: 100%; margin: 0; padding: 0; }
            #map { height: 70%; width: 90%; display: inline; position:absolute; right:0px;}
        </style>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
        <script src="../static/jquery-1.11.3.js"></script>
        <script src="../static/bootstrap.min.js"></script>
        <script src="../static/locations.js"></script>
    </head>
    <body onload="getLocation()" onclick="getLocationClick()"> 
        <div class="header">
        <div class="page-header">
            <h1>FindR <small>find public resources in your area</small></h1>
        </div>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                New Location
            <span class="caret"></span>
            
            </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                    <form id="newLocation" onsubmit="return validateForm()">
                    <li><input type="text" id="form-name" class="form-control" placeholder="Name" size=32></li>
                    <li><textarea id="form-desc" class="form-control" placeholder="Description" rows="4" cols="35"></textarea>
                    <li>
                        <div class="form-group">
                            <select class="form-control" id="type" size=4>
                                <option value="0">Bathroom</option>
                                <option value="1">Water</option>
                                <option value="2">Bike Rack</option>
                                <option value="3">Wifi</option>
                            </select>
                        </div>
                    </li>
                    <li><input type="submit" class="btn btn-default" value="Submit"></li>
                    </form>
                </ul>
        </div>
        </div>
    <div class="btn-group-vertical">
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">Left</button>
        <button type="button" class="btn btn-default">Middle</button>
        <button type="button" class="btn btn-default">Right</button>
    </div>
    </div>
    <div id="map"></div>

    <script type="text/javascript">
    var baseurl = "https://raw.githubusercontent.com/Saulmil/FindR/master/images/";
    var icons = [baseurl + "toilet.png", baseurl + "water.png", baseurl + "cycling.png", baseurl + "wifi.png"];
    var objectPlaced = false;
    var markerLat, markerLng;
function getLocationClick() {
    google.maps.event.addListener(map, 'click', function(event) {
        var e = document.getElementById("type");
        var type = e.options[e.selectedIndex].value;
        if (!objectPlaced) {
            console.log(event.latLng.lat());
            markerLat = event.latLng.lat();
            markerLng = event.latLng.lng();
            marker = new google.maps.Marker({position: event.latLng, map: map, icon: icons[type]});
            latLng = {lat: marker.position.lat(), lng: marker.position.lng()}
            objectPlaced = true;
        }
  });
}


function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(initMap);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}



var map;
function initMap(position) {
  var latitude = position.coords.latitude;
  console.log(position)
  var longitude = position.coords.longitude;
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: latitude, lng: longitude},
    zoom: 18
  });

  var marker1 = new google.maps.Marker({
    position: {lat: latitude, lng: longitude},
    map: map,
    title: 'Hello World!'
  });
}
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2c1j6Fu60pvqyZmQWuosgOdYbq8lBDXc&callback=initMap">
    </script>
</body>
</html>
