<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; width: 80%; }
    </style>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
    <script src="../static/locations.js"></script>
  </head>
  <body onload="getLocation()" onclick="getLocationClick()">
    <div class="page-header">
        <h1>FindR <small>find public resources in your area</small></h1>
    </div>

    <div id="map"></div>






    <script type="text/javascript">
  var baseurl = "https://raw.githubusercontent.com/Saulmil/FindR/master/images/";
  var icons = {
    toilet: {
      icon: baseurl + "toilet.png"
    },
    water: {
      icon: baseurl + "water.png"
    },
    cycling: {
      icon: baseurl + "cycling.png"
    },
    wifi: {
      icon: baseurl + "wifi.png"
    }
  };
    console.log(icons.toilet)
function getLocationClick() {
    google.maps.event.addListener(map, 'click', function(event) {
       marker = new google.maps.Marker({position: event.latLng, map: map, icon: icons.toilet.icon});
       latLng = {lat: marker.position.lat(), lng: marker.position.lng()}
       //console.log(latLng)
  });
}


function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(initMap);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}



var map;
function initMap(position) {
  var latitude = position.coords.latitude;
  console.log(position)
  var longitude = position.coords.longitude;
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: latitude, lng: longitude},
    zoom: 18
  });

  var marker1 = new google.maps.Marker({
    position: {lat: latitude, lng: longitude},
    map: map,
    title: 'Hello World!'
  });

  var marker2 = new google.maps.Marker({
    position: {lat: (latitude + .1), lng: longitude},
    map: map,
    title: 'Hello World!'
  });
}
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2c1j6Fu60pvqyZmQWuosgOdYbq8lBDXc&callback=initMap">
    </script>





<button onclick="getLocation()">Try It</button>
<span class="glyphicons glyphicons-bicycle">h.</span>

<p id="demo"></p>


</body>
</html>
